USE [db_financeiro_sab_08]
GO
/****** Object:  Table [dbo].[tb_categoria]    Script Date: 14/06/2025 09:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_categoria](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nome_categoria] [varchar](50) NOT NULL,
	[id_usuario] [int] NOT NULL,
 CONSTRAINT [PK_tb_categoria] PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_conta]    Script Date: 14/06/2025 09:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_conta](
	[id_conta] [int] IDENTITY(1,1) NOT NULL,
	[banco_conta] [varchar](10) NOT NULL,
	[agencia_conta] [varchar](10) NOT NULL,
	[numero_conta] [varchar](20) NOT NULL,
	[saldo_conta] [decimal](10, 2) NOT NULL,
	[id_usuario] [int] NOT NULL,
 CONSTRAINT [PK_tb_conta] PRIMARY KEY CLUSTERED 
(
	[id_conta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_empresa]    Script Date: 14/06/2025 09:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_empresa](
	[id_empresa] [int] IDENTITY(1,1) NOT NULL,
	[nome_empresa] [varchar](50) NOT NULL,
	[telefone_empresa] [varchar](12) NOT NULL,
	[endereco_empresa] [varchar](50) NOT NULL,
	[id_usuario] [int] NOT NULL,
 CONSTRAINT [PK_tb_empresa] PRIMARY KEY CLUSTERED 
(
	[id_empresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_movimento]    Script Date: 14/06/2025 09:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_movimento](
	[id_movimento] [int] IDENTITY(1,1) NOT NULL,
	[tipo_movimento] [smallint] NOT NULL,
	[data_movimento] [date] NOT NULL,
	[valor_movimento] [decimal](10, 2) NOT NULL,
	[obs_movimento] [varchar](300) NULL,
	[id_categoria] [int] NOT NULL,
	[id_empresa] [int] NOT NULL,
	[id_conta] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
 CONSTRAINT [PK_tb_movimento] PRIMARY KEY CLUSTERED 
(
	[id_movimento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_usuario]    Script Date: 14/06/2025 09:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nome_usuario] [varchar](80) NOT NULL,
	[email_usuario] [varchar](50) NOT NULL,
	[senha_usuario] [varchar](8) NOT NULL,
	[data_cadastro] [date] NOT NULL,
 CONSTRAINT [PK_tb_usuario] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_categoria]  WITH CHECK ADD  CONSTRAINT [FK_tb_categoria_tb_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[tb_usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[tb_categoria] CHECK CONSTRAINT [FK_tb_categoria_tb_usuario]
GO
ALTER TABLE [dbo].[tb_conta]  WITH CHECK ADD  CONSTRAINT [FK_tb_conta_tb_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[tb_usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[tb_conta] CHECK CONSTRAINT [FK_tb_conta_tb_usuario]
GO
ALTER TABLE [dbo].[tb_empresa]  WITH CHECK ADD  CONSTRAINT [FK_tb_empresa_tb_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[tb_usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[tb_empresa] CHECK CONSTRAINT [FK_tb_empresa_tb_usuario]
GO
ALTER TABLE [dbo].[tb_movimento]  WITH CHECK ADD  CONSTRAINT [FK_tb_movimento_tb_categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[tb_categoria] ([id_categoria])
GO
ALTER TABLE [dbo].[tb_movimento] CHECK CONSTRAINT [FK_tb_movimento_tb_categoria]
GO
ALTER TABLE [dbo].[tb_movimento]  WITH CHECK ADD  CONSTRAINT [FK_tb_movimento_tb_conta] FOREIGN KEY([id_conta])
REFERENCES [dbo].[tb_conta] ([id_conta])
GO
ALTER TABLE [dbo].[tb_movimento] CHECK CONSTRAINT [FK_tb_movimento_tb_conta]
GO
ALTER TABLE [dbo].[tb_movimento]  WITH CHECK ADD  CONSTRAINT [FK_tb_movimento_tb_empresa] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[tb_empresa] ([id_empresa])
GO
ALTER TABLE [dbo].[tb_movimento] CHECK CONSTRAINT [FK_tb_movimento_tb_empresa]
GO
ALTER TABLE [dbo].[tb_movimento]  WITH CHECK ADD  CONSTRAINT [FK_tb_movimento_tb_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[tb_usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[tb_movimento] CHECK CONSTRAINT [FK_tb_movimento_tb_usuario]
GO
